*{
    font-size: 26px;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: o;
}

a {
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
}


main{
    height: 80vh;
}

footer{
    text-align: center;
}